/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.edit {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	height: 50%;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
/* .header-modifier {

} */

header .presentation {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

.bande-noire {
	display: flex;
	justify-content: center;
	background-color: black;
	color:white;
	padding: 10px;
	/* margin-right: 20px; */
}

.bande-noire .noir {
	margin-top: 10px;
	margin-left: 30px;
}

.bande-noire .blanc {
	background-color:white;
	color: black;
	border-radius: 20px;
	padding: 10px;
	margin-left: 20px;
	
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
}

li:hover,
a:hover {
	color: #B1663C;
	cursor:pointer
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#portfolio .button-container {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 40px;
}

.button-container button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	border-radius: 60px;
	border-color: #1D6154;
	border: 1px solid;
	color : #1D6154;
	background-color: white;
	min-width: 100px;
	padding: 5px 10px;
	margin: 5px;
	
}

.button-container button:hover {
	color : white;
	background-color: #1D6154;
	cursor: pointer;
}

#portfolio .bouton-clique {
	color : white;
	background-color: #1D6154;
}

#portfolio .titre {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-left: 100px;
	margin-bottom: 50px;
}

#portfolio .title {
	margin-right: 20px;
}

#portfolio .modifier {
	margin-bottom: 25px;
}

#portfolio a {
	text-decoration: none;
}

.gallery img {
	width: 100%;

}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact > *, 
#login > * {
	text-align: center;

}

#contact h2,
#login h2{
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

/* #login form {
	align-items: center;
	text-align: left;
} */

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* #login #email,
#login #password {
	width: 380px;
} */

#contact label,
#login label  {
	margin: 2em 0 1em 0;
}

#contact textarea,
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login p {
	color: red;
	text-align: center;
	font-size: 18px;
}

.mdp p {
	text-decoration: underline;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover {
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Modal pour édition de la galerie */

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: auto;
	width: 630px;
	height: 730px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vw - 20px);
	border-radius: 10px;
	/* padding: 40px 20px; */
	background-color: #fff;
}

.modal-wrapper h3 {
	font-size: 24px;
	margin-bottom: 40px;
}

.modal-wrapper i {
	font-size: 20px;
}

.modal-wrapper button {
	position: relative;
	left: 260px;
	bottom: 5px;
	border: 0;
	background-color: white;
}

.modal-wrapper button:hover {
	cursor: pointer;
}

.modal input {
	height: 36px;
	width: 237px;
	/* font-size: 1.2em; */
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


.gallery-edit {
	display: grid;
	grid-template-columns: repeat(5, 18%);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin: 0 50px;
	margin-bottom: 50px;
	justify-content: center;

}

.gallery-edit figure {
	width: 76.86px
}

.gallery-edit img {
	width: 76.86px
}

.gallery-edit p {
	margin-bottom: 5px;
	text-align: left;
	font-size: 12px;
}

.line {
	border: 1px solid rgb(196, 195, 195);
	width: 420px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.red {
	color: red;
}